<div class="modal fade" id="stepListPopOut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="stepListPopOutLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stepListPopOutLabel">AVAILABLE STEPS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body available-step-list">
          {% for spec_detail in spec_details %}
            {% include "single_card.html" with spec_detail=spec_detail %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="add-new-step-button" class="btn btn-primary add-new-step">Add</button>
        </div>
      </div>
    </div>
  </div>