{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'management_tool.css' %}">
{% endblock %}

{% block content %}
<div>
  <div class="django-blue-message">
    <p>Scan variable lifecycle tool allow user input a variable name, and will return a list of spec yaml ado numbers who use the variable as input or output variable.</p>
  </div>
  
  <div class="row">
    <div class="column">
      <h2>Pipeline YAML file:</h2>
      {{ yaml_display_form.yaml_text }}
    </div>
    <div class="column">
      <h2> </h2>
      <form action="#" enctype="multipart/form-data" class="lifecycle-collection-form">
        {{ scan_form.as_p }} {% csrf_token %}
        
        <input type="submit" value="Scan lifecycle" class="default variable-name">
      </form>
      <h2>Scan result:</h2>
      <div class="scan-result-section"></div>
    </div>
  </div>
</div>
<br />
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'scan_variable_lifecycle.js' %}"></script>
{% endblock %}
