<div class="col-sm-3 swim-lane-wrapper" draggable="true">
    <div class="swim-lane" value="{{ columnName }}">
        <div class="row">
            <h3 class="heading single-column-name col-sm-10">{{ columnName }}</h3>
            <button type="button" class="btn-close col-sm-2 remove-single-column" aria-label="Close"></button>
        </div>
        <button id="add-step-button-{{ columnName }}" type="button" class="btn btn-danger add-step-button" data-bs-toggle="modal" data-bs-target="#stepListPopOut">ADD STEP</button>
    </div>
</div>