#contact-name {
    font-size: 24px !important;
    color: #1d1d1dc4 !important;
    margin-left: 30px;
}

#contact-email {
    font-size: 24px !important;
    color: #1d1d1dc4 !important;
    margin-left: 30px;
}