/* ---- RESET/BASIC STYLING ---- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; Firefox */
}

/* *::-webkit-scrollbar {
  display: none;
} */
  
.board {
  width: 100%;
  height: 100vh;
  overflow: scroll;

  /* background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
  background-position: center;
  background-size: cover;
}

/* ---- FORM ---- */
#todo-form {
  padding: 32px 32px 0;
}

#todo-form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 14px;
  outline: none;
}

#todo-form button {
  padding: 12px 32px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

/* ---- BOARD ---- */
.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;

  overflow-x: auto;
  overflow-y: hidden;
  height: 725px;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  border-radius: 4px;
  width: 300px;

  height: 700px;
  overflow: auto;

  flex-shrink: 0;
  
  border: 1px solid #000; /* Optional, just to show the div boundaries */
  border-color: rgb(226,226,226); /* Set the border color to grey */
  transition: color 0.8s ease, border-color 0.8s ease, box-shadow 0.8s ease; /* Add a transition on the color property */
}

.swim-lane:hover {
  color: #7386D5; /* Change the text color to black when hovering */
  border-color: #7386D5;
  box-shadow: 0px 5px 15px #7386D5;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #7386D5;
  color: white;
}

.is-dragging .card-header {
  color: #7386D5 !important;
}

.is-dragging .card-body .card-text {
  color: #ffffff !important;
}

.is-dragging .card-footer {
  color: #ffffff !important;
}

.lane-is-dragging .swim-lane {
  scale: 1.05;
  background: #7386D5;
  color: rgb(255, 255, 255);
}

#add-new-column-button {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  width: 300px;
  overflow: auto;
  
  flex-shrink: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000; /* Optional, just to show the div boundaries */
  background-color: rgb(226, 226, 226); /* Set the background color to grey */
  border-color: rgb(226,226,226); /* Set the border color to grey */
  border-radius: 4px;
  font-weight: 600;
  color: rgb(133, 133, 133);
  cursor: pointer; /* Change the cursor to a pointer */
  height: 700px;
  transition: color 0.8s ease, border-color 0.8s ease; /* Add a transition on the color property */
}

#add-new-column-button:hover {
  color: #7386D5; /* Change the text color to black when hovering */
  border-color: #7386D5; /* Change the border color to black when hovering */
}

input {
  transition: color 0.8s ease, border-color 0.8s ease; /* Add a transition on the color property */
}

input:hover {
  color: #7386D5; /* Change the text color to black when hovering */
  border-color: #7386D5; /* Change the border color to black when hovering */
}

textarea {
  transition: color 0.8s ease, border-color 0.8s ease; /* Add a transition on the color property */
}

textarea:hover {
  color: #7386D5; /* Change the text color to black when hovering */
  border-color: #7386D5; /* Change the border color to black when hovering */
}

.btn-close {
  position: relative;
  top: 0;
  right: 0;
}

.single-column-name {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.available-step-list {
  height: 500px;
  overflow-y: auto;
}

.available-step-list .available-step:hover {
  background-color: #b7beda;
}

.available-step-list .available-step:hover .card-header {
  color: #b7beda !important;
}

.available-step-list .available-step:hover .card-body .card-text {
  color: #ffffff !important;
}

.available-step-list .available-step:hover .card-footer {
  color: #ffffff !important;
}

.available-step-list .available-step.selected {
  background-color: #7386D5;
}

.available-step.selected .card-header {
  color: #7386D5 !important;
}

.available-step.selected .card-body .card-text {
  color: #ffffff !important;
}

.available-step.selected .card-footer {
  color: #ffffff !important;
}

.available-step:hover {
  cursor: pointer;
}

#add-pipeline-container {
  margin-right: auto;
  margin-left: 0;
}

#save-pipeline-button {
  width: 150px;
  font-size: 16px;
  background: #7386D5;
  border-color: #7386D5;
}

#save-pipeline-button:hover {
  background: #5e6bdf;
  border-color: #5e6bdf;
}

#yaml-preview-button {
  width: 150px;
  font-size: 16px;
  background: #858585;
  border-color: #858585;
}

#add-column-button {
  width: 150px;
  font-size: 16px;
  background: #7386D5;
  border-color: #7386D5;
}

#add-column-button:hover {
  background: #5e6bdf;
  border-color: #5e6bdf;
}

#pipeline-name-dropdown {
  width: 300px;
  color: #ffffff;
  background-color: #7386D5;
  border-color: #7386D5;
  margin-left: 13px;
}

.existing-pipeline-yaml {
  width: 300px;
}

.existing-pipeline-yaml:hover {
  background-color: #7386D5;
  cursor: pointer;
  color: #ffffff;
}

#pipeline-name-dropdown:hover {
  background-color: #5e6bdf; /* Change the text color to black when hovering */
  border-color: #5e6bdf; /* Change the border color to black when hovering */
}

#add-new-step-button {
  width: 150px;
  font-size: 16px;
  background: #7386D5;
  border-color: #7386D5;
}

#add-new-step-button:hover {
  background: #5e6bdf;
  border-color: #5e6bdf;
}

.add-step-button {
  background: #df5e6b !important;
  border-color: #df5e6b !important;
}

.add-step-button:hover {
  background: #db3e4e !important;
  border-color: #db3e4e !important;
}

#edit-pipeline-container {
  margin-right: auto;
  margin-left: 0;
  display: none;
}

#edit-pipeline-button {
  width: 150px;
  font-size: 16px;
  background: #7386D5;
  border-color: #7386D5;
}

#edit-pipeline-button:hover {
  background: #5e6bdf;
  border-color: #5e6bdf;
}

input:read-only {
  color: #888; /* replace with your desired color */
}